*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'KoHo', sans-serif;
}

.header_content-links{
    padding: 4px;
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: space-between;
}

.ul_content-links{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.ul_li-links{
    text-decoration: none;
    font-weight: 200;
    font-size: 0px;
    font-size: 20px;
    color: rgb(245, 242, 238);

}